/*test that it works*/
p {
  border: red 1px solid;
}


/*body:not(header)  {
	display: flex;
}

.column-1, .column-2 {  
  flex: 1;   
  padding: 1em;
  border: solid;
}

.column-1 {
  float: left;
  background-color: blue;
  width: 45%;
  padding: 10px;
  margin: 15px;
  margin-bottom: 45px;
  font-family: helvetica;
}

.column-2 {
  float: left;
  background-color: green;
  width: 45%;
  padding: 10px;
  margin: 15px;
  margin-bottom: 45px;
}

footer {
  background-color: orange;
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}*/